body {
    margin-top: 10px; 
    margin-left: 12px;
    background-color: black;
    color: lime;
}

.background_image {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.title_text { 
    padding-bottom: 1px;
}

.all_points {
    padding-left: 20pt; 
    margin-top: 8px;
}
a {
    margin-right: 15px;
}

footer {
    position:fixed;
    left: 42%;
    bottom: 5%;
}