@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Lovelo";
    src: url("fonts/Lovelo/Commercial/TTF/Lovelo-Black.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240,240,240);
    margin: 0px;
    font-family: "Montserrat";
}


.header {
    background-color: rgb(40,40,40);
    position: sticky;
    top:0;
    width: 100%;
    height: 6vh;
    font-size:1.8vh;
    margin: 0px;
    overflow: hidden;
    z-index: 10;
}

.header-items {
    color: white;
    display:flex;
    align-items: center;
    float: right;
    margin-right: 1vw;
}

.header-item1, .header-item2, .header-item3 {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    padding: 2vh 1vw;
    transition: 0.5s ease;
}

.header-item1:hover, .header-item2:hover, .header-item3:hover {
    font-size: 2.2vh;
    color: rgb(255, 255, 199);
    transition-duration: 0.2s;
    border-bottom: 1px solid white;
    padding: 1vh 1vw;
}

.header-name{
    display:flex;
    align-items: center;
    float: left;
    color: white;
    font-size: 2.5vh;
    padding: 1.5vh 2vw;
    margin: 0;
}

.img1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#mainname {
    position: absolute;
    top: 25vh;
    left: 55vw;
    color: black;
    font-size: 5vw;
    font-family: 'Lovelo';
    text-shadow: 4px 4px 4px rgba(0, 100, 255, 0.5);
}

#pfp {
    position: absolute;
    top: 20vh;
    left: 25vw;
    width: 20vw;
    height: 20vw;
    border: 4px solid black;
    border-radius: 50%;
}

.parallax-container {
    height: 94vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.parallax-container_projects {
    height: 230vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.parallax-container_contact {
    height: 130vh;
    position: relative;
    overflow: hidden;
    margin: 0;   
}

.about {
    width: 100vw;
    height: 100vh;
    position: absolute;
    border: 0px solid black;
    border-radius: 2%;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.9) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    width: 90%;
    position: relative;
}

.subheadings {
    font-weight: bold;
    font-size: 3vw;
    margin: 1vw 2vw;
}

.subsubheadings {
    font-size: 2vw;
    margin: 1.2vw 1.5vw 0.5vw;
}

.subpoints {
    font-size: 1.5vw;
    margin: 2vw 3vw;
}

.gallery_heading {
    background-color: black;
    margin: 0;
    padding: 1vw;
    text-align: center;
    font-size: 3vw;
    color: white;
}

.gallery_pic {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
    border: 3px solid black;
    width: 45vw;
    height: 30vh;
    border-radius: 25px;
    margin: 2vw 3vw;
    background-color: rgba(235, 255, 235, 0.95);
    transition: 0.5s ease;
}

.box:hover {
    margin: 1vw 3vw 3vw;
    transition-duration: 1s;
}

li {
    font-size: 1.5vw;
    margin: 1vw 2vw;
}


.portfolio_heading {
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0vw 1vw;
}

.footer {
    background-color: black;
}

.footer_left {
    color: white;
    position: absolute;
    left: 0;
    margin: 2vh 1vw;
}

.footer_right {
    color: white;
    list-style-type: none;
    position: absolute;
    right: 0;
    margin: 2vh 1vw;
}

.footer_list {
    margin: 1.8vh 2vw;
    font-size: 2vh;
    padding: 0.1vw 1vw;
    border: 1px solid black;
    transition: 0.8s ease;
}

.footer_list:hover {
    transition-duration: 0.5s;
    color: cyan;
    border-radius: 25px;
    border: 1px solid white;
}

.footer_icons {
    height: 2.5vh;
    width: 2.5vh;
    margin-right: 1vw;
    vertical-align: middle;
}

.project_box {
    width: 90vw;
    height: 40vh;
    margin: 5vh 5vw;
    background-color: rgba(220, 255, 255, 0.925);
    transition: margin 0.5s ease;
}

.project_gif {
    height: 38vh;
    border-radius: 2vh;
    position: relative;
    top: 1vh;
    left: 1vw;
}

.project_content {
    margin: 1vh 5vh;
}

.project_heading {
    font-size: 5vh;
    font-weight: bold;
    margin: 2vh 0vh;
}

.project_description {
    font-size: 2.5vh;
}

.project_box:hover {
    margin-top: 3vh;
    margin-bottom: 7vh;
    transition-duration: 1s;
}

.project_heading:hover {
    color: blue;
    text-decoration: underline;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.connect_box {
    width: 65vw;
    margin: 5vh 7vw 5vh;
    border-radius: 15vh;
}

.connect_box:hover {
    margin: 5vh 7vw 5vh 10vw;
}

.pfp {
    height: 28vh;
    top: 1vh;
    left: 0.5vw;
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
}

.social_heading {
    font-size: 7vh;
    font-weight: bold;
    margin: 0vw 3vw;
    color: white;
}

.social_handle {
    font-size: 2.5vh;
    margin-left: 4vw;
    color: rgba(200,200,200,1);
}

.points_order {
    display: flex;
}

@media (max-width: 800px) {
    #pfp {
        top: 30vh;
        left: 12vw;
        width: 30vw;
        height: 30vw;
        border: 2px solid black;
    }

    #mainname {
        top: 35vh;
    }
    .subheadings {
        font-size: 7vw;
        margin: 3vw 3vw;
    }
    .subpoints {
        font-size: 1.9vh;
        margin: 3vh 4vw;
    }
    li {
        font-size: 2vh;
        margin: 1.5vw 1vw;
    }
    .subsubheadings {
        font-size: 3vh;
        margin: 2vh 3vw 0.5vw;
    }
    .box {
        border: 2.5px solid black;
        height: 35vh;
        border-radius: 25px;
        margin: 2vh 3vw;
        background-color: rgba(235, 255, 235, 0.95);
        transition: 0.5s ease;
    }

    .points_order {
        display: inline;
    }
    .project_box {
        height: 20vh;
        margin: 3vh 5vw;
    }
    .project_gif {
        height: 8vh;
        border-radius: 1vh;
        top: 5.5vh;
        left: 3vw;
    }
    .project_content {
        margin: 0vh 6vw;
    }

    .project_heading {
        font-size: 2.1vh;
        margin: 2vh 0vh 2vh;
    }

    .project_description {
        font-size: 1vh;
    }
    .parallax-container_projects {
        height: 135vh;
    }
    .connect_box {
        width: 80vw;
        height: 18vh;
        margin: 6vh 7vw 5vh;
        border-radius: 15vh;
    }
    .pfp {
        height: 16vh;
        top: 0.8vh;
        left: 1vw;
    }

    .social_heading {
        font-size: 6vw;
    }

    .social_handle {
        font-size: 3vw;
        margin-left: 4vw;
        margin-top: 1vh;
        color: rgba(200,200,200,1);
    }
    .parallax-container_contact {
        height: 94vh;
    }
    .header {
        font-size:1.3vh;
    }

    .header-item1:hover, .header-item2:hover, .header-item3:hover {
        font-size: 1.4vh;
    }
    .header-name{
        font-size: 2vh;
    }
}

@media (max-width: 450px) {
    .project_heading {
        font-size: 3.5vw;
    }
    .subpoints {
        font-size: 3.5vw;
    }
    .subsubheadings {
        font-size: 5vw;
    }
    li {
        font-size: 3.5vw;
        margin: 2vw 0vw;
    }
    ul {
        margin-top: 2vh;
    }
}

@media (max-width: 395px) {
    .subpoints {
        font-size: 3.8vw;
    }
    .project_heading {
        margin: 1vh 0vw;
    }
    .project_description {
        font-size: 2vw;
    }
}