@font-face {
    font-family: Fira Code;
    font-weight: auto;
    src: url('fonts/FiraCode-Regular.ttf');
}

body {
    margin-top: 12vh;
    background-image: linear-gradient(120deg,
        rgb(229, 255, 0) 0%,
        rgb(0, 183, 255) 100% 
    );
    /*background-image: linear-gradient(120deg,
        rgb(0, 255, 255) 0%,
        rgb(247, 0, 255) 100% 
    );*/
    color: black;
    /*background-color: black;*/ 
    /*color:lime;*/
}

.outer_circle {
    background-image: linear-gradient(
        to right, rgb(255, 0, 150) 0%,
                rgb(251, 255, 0) 100%
    );
    content: '';
    position: relative;
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    margin-bottom: 10vh;
}

.profile_picture {
    margin-top: 2vh;
    object-fit: cover;
    width: 41vh;
    height: 41vh;
    border-radius:50%;
}

.my_name {
    font-size: 8vh;
    font-family: 'Courier New', Courier, monospace;
}

.all_points {
    font-family:Fira Code;
    font-size: 3vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 23vh;
}

.about_text {
    font-size: 2rem;
}

.point_break {
    margin-top: 0px;
    margin-bottom: 4%;
    padding-bottom: 0px;
}

/*p {
    margin-top: 0px;
    margin-bottom: 1%;
    padding-bottom: 0px;
}*/

a {
    padding-right: 15px;
}

footer {
    margin-top: 5%;
    margin-bottom: 2%;
    position: relative;
}

hr {
    background-color:rgb(0, 0, 0);
    height: 1px;
    border:none;
}